.card {
  .text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5dvh;

    p,
    h4 {
      margin: 0;
    }

    .myself,
    .languages {
      display: grid;
      grid-template-columns: repeat(2, 45%);
      column-gap: 5%;
      margin-bottom: 1dvh;
    }

    display: block;

    a {
      color: var(--secondary-color);
      cursor: pointer;
    }
  }
}
