.card {
  .text {
    h3 {
      img {
        height: 5rem;
      }
    }

    p,
    h4,
    h5 {
      margin: 0;
    }

    h5 {
      font-weight: 600;
    }

    .underline {
      text-decoration: underline;
    }

    .myself,
    .languages {
      display: grid;
      grid-template-columns: repeat(2, calc(100% / 2 - 2.5%));
      column-gap: 2.5%;
      margin-bottom: 1dvh;
    }

    img.flag {
      height: 1.25rem;
      border-radius: 2.5px;
      vertical-align: middle;
    }

    a {
      color: var(--secondary-color);
      cursor: pointer;
    }

    ul ul {
      list-style-type: none;
      padding-left: 1dvw;
    }
  }
}

:root {
  &.dark {
    img.light-theme {
      display: none;
    }

    img.dark-theme {
      display: inline;
    }
  }

  &.light {
    img.light-theme {
      display: inline;
    }

    img.dark-theme {
      display: none;
    }
  }
}
