div.glassy {
    height: 50%;
    width: 100%;
    border-radius: 50px;
    padding: 0.5dvh 1dvw;
    cursor: pointer;

    & > div.light, & > div.dark {
        height: 100%;
        width: 100%;
        background-color: var(--main-color);
        mask-repeat: no-repeat;
        mask-size: contain;
    }

    & > div.dark {
        mask-image: url('/assets/images/icons/moon_icon.svg');
        mask-position: right;
        transition: mask-position 0.5s ease-in-out;
    }

    & > div.light {
        mask-image: url('/assets/images/icons/sun_icon.svg');
        mask-position: left;
        transition: mask-position 0.5s ease-in-out;
    }
}