<section class="textWrapper">
    <h3 class="centerContent">
        <a href="https://www.monmagasinvert.fr/magasin-jardinage-point-vert-pordic-000481" target="_blank">
            <img src="/assets/images/exp_pro/Logo_Point_Vert.webp" alt="Logo Point Vert" />
        </a>
        <p>Commerce & Gestion</p>
    </h3>
    <h4>CDD ( saisonnier )</h4>
    <p>Saisonnier durant l'été 2021 et 2023 en tant qu'aide magasinier et pour la collecte de céréales. Vente de produits en magasin, conseillé en vente et gestion des passages en caisse. Travail des compétences sociales et découverte des métiers de la vente et l'accompagnement de clients. Gestion du dépôt de céréales apportées par les agriculteurs, gestion de la sortie des céréales vers les usines, remplissage des camions par le biais de silos. Conduite de véhicules de manutention, transpalette, chariot élévateur et téléscopique, autorisation obtenue en interne après une formation par l'entreprise et une visite médicale.</p>
</section>