<section class='textWrapper'>
    <section>
        <h3>BUT : Bachelor Universitaire Technologique</h3>
        <p><a href="https://iut-lannion.univ-rennes.fr/" target="_blank">IUT Lannion</a></p>
        <div class='learnings'>Compétences :
            <ul>
                <li>Conception, développement et gestion de logiciels</li>
                <li>Développement et conception de sites web</li>
                <li>Gestion de bases de données</li>
            </ul>
        </div>
        <div class="projects">Projets réalisés :
            <ul>
                <li>Alizon, Marketplace
                    <ul>
                        <li>Backend Postgres / PHP framework CodeIgniter4</li>
                        <li>Frontend HTML / CSS / JS</li>
                        <li><a href="https://github.com/Naiihu/SAE3_LBBDS" target="_blank">Github</a></li>
                    </ul>
                </li>
                <li>Loppu, Interactive story
                    <ul>
                        <li>Backend Docker / Postgres / JS express</li>
                        <li>Fontend HTML / CSS / JS framework React</li>
                    </ul>
                </li>
                <li><a>RnP Vision</a>, SaaS ( Alternance )
                    <ul>
                        <li>Backend Docker / Postgres + Postgis / PHP symfony</li>
                        <li>Frontend HTML / SCSS / TS framework Angular</li>
                        <li>Base <a href="https://www.veremes.com/produits/vmap" target="_blank">Vmap2</a></li>
                        <li>Frontend libs <a href="https://github.com/openlayers/openlayers" target="_blank">OpenLayers</a></li>
                        <li>API <a href="https://dataviz.arcep.fr/" target="_blank">ARCEP</a>, <a href="https://developers.google.com/maps/documentation/javascript/streetview?hl=fr" target="_blank">Google StreetView</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section>
        <h3>BAC : Baccalauréat Général</h3>
        <p><a href="https://www.st-pierre-st-brieuc.bzh/" target="_blank">Saint-Pierre Saint-Brieuc</a></p>
        <div class='specialities'>Spécialités :
            <ul>
                <li>Mathématiques</li>
                <li>NSI : Numériques & Sciences informatiques</li>
                <li>Physique-Chimie ( jusqu'en 1ère )</li>
            </ul>
        </div>
        <p>Mention Européenne</p>
        <p>Cambridge certification niveau B2/C1</p>
    </section>
</section>