<section class='textWrapper'>
    <section>
        <h3 class="centerContent"><a href="https://iut-lannion.univ-rennes.fr/" target="_blank"><img src="/assets/images/exp_pro/logo-rnp-bleu.svg" alt="Logo RnP Vision" class="light-theme"/><img src="/assets/images/exp_pro/logo-rnp-blanc.svg" alt="Logo RnP Vision" class="dark-theme"/></a></h3>
        <h4>Alternance - CDI</h4>
        <p>Développement d'un <a href="https://fr.wikipedia.org/wiki/Software_as_a_service" title="Article Wikipédia SaaS" target="_blank">SaaS</a> destiné aux métiers de l'eau et de l'assainissement permettant la saisie, la gestion et la création automatique des documents pour les avis techniques et les contrôles d'assainissement collectifs et non collectifs. La plateforme développée par RnP Vision souhaite accompagner les différents métiers de l'eau afin de réduire la rébarbativité de ces métiers, aider à la décision, la création d'une vision globale et efficace de leurs données. Pour ce faire, la plateforme RnP Vision est accessible sous forme de site web et utilise donc des technologies basiques du monde d'internet, du PHP avec symfony et de l'HTML, SCSS et TypeScript, dérivé de Javascript, avec Angular.</p>
    </section>
    <section>
        <h3 class="centerContent"><a href="https://www.csi.cuny.edu/" target="_blank"><img src="/assets/images/exp_pro/College_of_Staten_Island_seal_black.png" alt="Logo College of Staten Island" class="light-theme"/><img src="/assets/images/exp_pro/College_of_Staten_Island_seal_white.png" alt="Logo College of Staten Island" class="dark-theme"/></a></h3>
        <h4>Stage ( environ 10 semaines )</h4>
        <p></p>
    </section>
</section>