<section class='textWrapper'>
    <section>
        <h3>BUT : Bachelor Universitaire Technologique</h3>
        <div class='learnings'>Compétences :
            <ul>
                <li>Conception, développement et gestion de logiciels</li>
                <li>Développement et conception de sites web</li>
                <li>Gestion de bases de données</li>
            </ul>
        </div>
    </section>
    <section>
        <h3>BAC : Baccalauréat Général</h3>
        <div class='specialities'>
            <p>Mathématiques</p>
            <p>NSI : Numériques & Sciences informatiques</p>
            <p>Physique-Chimie</p>
        </div>
        <p>Mention Européenne</p>
    </section>
</section>