main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    app-header {
        height: 7.5dvh;
    }

    section#displays {
        display: flex;
        justify-content: space-between;

        app-main-displayer {
            display: block;
            width: 60dvw;
            height: 85dvh;
        }

        app-display-list {
            display: block;
            width: 35dvw;
            height: 85dvh;
        }
    }

    app-modal {
        position: absolute;
        width: 100%;
        height: 100%;

        backdrop-filter: blur(5px);
    }
}
