<section [id]="`wrapper_${elementId}`">
    <article [id]="elementId" (drop)="drop($event)" (dragover)="dragOver($event)"
        [class]="`${isSmall ? 'small' : ''} card`">
        <section class="content">
            @if (this.jsonContent.imgUrl) {
                <figure class="left" [id]="`figure_${elementId}`" (dragstart)="dragStart($event)" (dragend)="dragEnd()" draggable="true">
                    <img [src]="this.jsonContent.imgUrl" [alt]="this.jsonContent.imgAlt" draggable="false">
                </figure>
            }
            <h2>{{this.jsonContent.title}}</h2>
            @if (this.jsonContent.text || this.jsonContent.template) {
                <div class="text" [innerHTML]="htmlString"></div>
            } @else if (this.jsonContent.multiTemplates) {
                @for (folder of Object.keys(this.jsonContent.multiTemplates); track folder) {
                    @for (template of this.jsonContent.multiTemplates[folder]; track template) {
                        <app-template-renderer [folder]="folder" [file]="template" [oParent]="this"></app-template-renderer>
                    }
                }
            }
        </section>
        @for (index of [1, 2, 3, 4]; track index) {
            <div [id]="`dragZone_${elementId}_${index}`" class="figurePlaceholder {{hideDragZones ? 'hidden' : ''}}"></div>
        }
        <div class="draggable" [id]="`utils_zone_${elementId}`">
            <app-svg-icon name="resize" (click)="this.setUniqueDisplay()"></app-svg-icon>
            <app-svg-icon name="dots"></app-svg-icon>
            <section class="centerContent">
                <app-svg-icon name="grid"></app-svg-icon>
                <section #dropdown class="dropdown">
                    <section class="scrollWrapper">
                        <article class="vertical">
                            <div class="draggable left"></div>
                            <div class="draggable right"></div>
                        </article>
                        <article class="horizontal">
                            <div class="draggable top"></div>
                            <div class="draggable bottom"></div>
                        </article>
                        <article class="threeLeft">
                            <div class="draggable left"></div>
                            <div class="draggable top right"></div>
                            <div class="draggable bottom right"></div>
                        </article>
                        <article class="threeRight">
                            <div class="draggable right"></div>
                            <div class="draggable top left"></div>
                            <div class="draggable bottom left"></div>
                        </article>
                        <article class="four">
                            <div class="draggable top left"></div>
                            <div class="draggable top right"></div>
                            <div class="draggable bottom left"></div>
                            <div class="draggable bottom right"></div>
                        </article>
                    </section>
                </section>
            </section>
        </div>
    </article>
</section>