<section [id]="`wrapper_${elementId}`">
    <article [id]="elementId" (drop)="drop($event)" (dragover)="dragOver($event)"
        [class]="`${isSmall ? 'small' : ''} card`">
        <section class="content">
            @if (this.jsonContent.imgUrl) {
                <figure class="left" [id]="`figure_${elementId}`" (dragstart)="dragStart($event)" (dragend)="dragEnd()" draggable="true">
                    <img [src]="this.jsonContent.imgUrl" [alt]="this.jsonContent.imgAlt" draggable="false">
                </figure>
            }
            <h2>{{this.jsonContent.title}}</h2>
            <div class="text" [innerHTML]="htmlString"></div>
        </section>
        @for (index of [1, 2, 3, 4]; track index) {
            <div [id]="`dragZone_${elementId}_${index}`" class="figurePlaceholder {{hideDragZones ? 'hidden' : ''}}"></div>
        }
        <div class="draggable" [id]="`utils_zone_${elementId}`">
            <app-svg-icon name="resize"></app-svg-icon>
            <app-svg-icon name="dots"></app-svg-icon>
            <app-svg-icon name="grid"></app-svg-icon>
        </div>
    </article>
</section>