<section class="textWrapper">
    <h3 class="centerContent">
        <a href="https://www.csi.cuny.edu/" target="_blank">
            <img src="/assets/images/exp_pro/College_of_Staten_Island_seal_black.png" alt="Logo College of Staten Island" class="light-theme" />
            <img src="/assets/images/exp_pro/College_of_Staten_Island_seal_white.png" alt="Logo College of Staten Island" class="dark-theme" />
        </a>
        <p>Automatisations de Recherches</p>
    </h3>
    <h4>Stage ( environ 10 semaines )</h4>
    <p>Stage en distanciel avec le College of Staten Island, portant sur l'automatisation de résumés de textes. Utilisation de technologie comme Flask, framework Python, Docker et l'API de the Hugging Face
    </p>
</section>