<section class="textWrapper">
    <h3 class="centerContent">
        <a href="https://www.rnpvision.com/" target="_blank">
            <img src="/assets/images/exp_pro/logo-rnp-bleu.svg" alt="Logo RnP Vision" class="light-theme" />
            <img src="/assets/images/exp_pro/logo-rnp-blanc.svg" alt="Logo RnP Vision" class="dark-theme" />
        </a>
        <p>Faciliter le travail</p>
    </h3>
    <h4>Alternance - CDI</h4>
    <p>Développement d'un <a href="https://fr.wikipedia.org/wiki/Software_as_a_service" title="Article Wikipédia SaaS" target="_blank">SaaS</a> destiné aux métiers de l'eau et de l'assainissement. Technologies du monde du web, PHP avec Symfony, HTML, SCSS et TypeScript, dérivé de Javascript, avec Angular et Postgresql accompagné par Postgis en base de données.</p>
</section>