section#displayList {
    height: calc(100% - calc(var(--default-vertical-padding) * 2));
    width: calc(100% - calc(var(--default-horizontal-padding) * 2));
    padding: var(--default-vertical-padding) var(--default-horizontal-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1dvh;

    #dataList_page_utils {
        display: flex;
        justify-content: center;
        column-gap: 1dvw;

        width: 50%;

        a#dataList_page_prev,
        a#dataList_page_next {
            font-size: 1.25rem;
            font-weight: bolder;
            cursor: pointer;
            user-select: none;

            color: var(--main-color);
            text-decoration: none;
        }

        section#dataList_page_indicators {
            height: 100%;

            display: flex;
            column-gap: 1dvw;
            align-items: center;

            div.pageIndicator {
                height: .5rem;
                width: .5rem;
                border-radius: 50%;
                background-color: var(--main-color);
                cursor: pointer;

                &.active {
                    background-color: var(--secondary-color);
                }
            }
        }
    }

    #dataList_displays {
        flex: 1;
        max-height: calc(100% - 1.25rem - 1dvh);

        display: grid;
        row-gap: 1dvh;
        grid-template-rows: repeat(auto-fit, minmax(calc(calc(100% / 3) - 1dvh), 1fr));

        app-display {
            display: block;
            height: 100%;
            width: 100%;

            border-radius: 5px;
        }
    }

}